@model proyectoMaravillasPeru.MaravillasSOAPWS.ReservaHotel
@{
    ViewBag.Title = "Delete";
}
<h2>@ViewData["Message"]</h2>
<h3>¿Está seguro de ELIMINAR esta reserva de hotel?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @ViewBag.Titulo1
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigoreservahotel)
        </dd>
        <dt>
            @ViewBag.Titulo2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombrehotel)
        </dd>
        <dt>
            @ViewBag.Titulo3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numerodias)
        </dd>
        <dt>
            @ViewBag.Titulo4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidadpersonas)
        </dd>
        <dt>
            @ViewBag.Titulo5
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numerohabitaciones)
        </dd>
        <dt>
            @ViewBag.Titulo6
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Montototal)
        </dd>
        <dt>
            @ViewBag.Titulo7
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechaingreso)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Retorno a la Lista", "Index")
        </div>
    }
</div>