@model proyectoMaravillasPeru.MaravillasSOAPWS.ReservaHotel
@{
    ViewBag.Title = "Details";
}
<h2>@ViewData["Message"]</h2>

<div>
    <h4>Reserva Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @ViewBag.Titulo1
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigoreservahotel)
        </dd>
        <dt>
            @ViewBag.Titulo2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombrehotel)
        </dd>
        <dt>
            @ViewBag.Titulo3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numerodias)
        </dd>
        <dt>
            @ViewBag.Titulo4
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidadpersonas)
        </dd>
        <dt>
            @ViewBag.Titulo5
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numerohabitaciones)
        </dd>
        <dt>
            @ViewBag.Titulo6
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montototal)
        </dd>
        <dt>
            @ViewBag.Titulo7
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fechaingreso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Codigoreservahotel.Trim() }) |
    @Html.ActionLink("Regreso a la lista", "Index")
</p>